{% extends 'base.html' %}
{% block content%}
    <div class='container'>
        <a class='btn btn-primary btn-sm text-center' href="{%url 'edit_profile'%}">Edit Your Profile</a>
        <div class="d-flex flex-wrap justify-content-center px-5 m-5 ">
            {% for post in data%}
             <div class="col-sm-4 p-3">
                 <div class="card">
                 <div class="card-body">
                     <h5 class="card-title">{{post.title}}</h5>
                     <p class="card-text">{{post.content}}</p>
                     <p class='card-text'>Author : {{post.author.first_name}} {{post.author.last_name}}</p>
                     <p>
                         Category : 
                         {% for cat in post.category.all %}
                         <button class='btn btn-primary btn-sm disabled rounded rounded-3'>{{cat.name}}</button>
                         {% endfor%}
                     </p>
                     <a href="{% url 'edit_post' post.id%}" class="btn btn-warning">Edit</a>
                     <a href="{% url 'delete_post' post.id %}" class="btn btn-danger">Delete</a>
                 </div>
                 </div>
             </div>
            {% endfor%}
           </div>
    </div>
{%endblock%}